
02 - Data Management and Preprocessing/supporting/accepted_2007_to_2018Q4.csv
02 - Data Management and Preprocessing/supporting/describe_numerics.csv
02 - Data Management and Preprocessing/supporting/describe_objects.csv
02 - Data Management and Preprocessing/supporting/lending_club_selected_features.csv
02 - Data Management and Preprocessing/supporting/lending_club_selected_features_Target.csv
02 - Data Management and Preprocessing/supporting/lending_club_selected_features_Target_preprocessed.csv
02 - Data Management and Preprocessing/supporting/lendingclub_datadictionary.xlsx
02 - Data Management and Preprocessing/supporting/rejected_2007_to_2018Q4.csv
